* {
    box-sizing: border-box;
}

body {
    background-image: url("world.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width : 300px;
    height: 500px;
    display: grid;
    align-self: auto;
}

.card{
    border-radius: 10%;
    width: 100px;
    height: 100px;
    margin: 2px;

}
.flashcards{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 1px;
    perspective: 1000px;
}


h1{
    padding-top: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 1px;
    font-family: 'McLaren', cursive;
}

p{
    font-family: 'McLaren', cursive;
}

.front, .mid, .info,
.back{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
}

.front{
    background: coral;
    z-index: 2;
    backface-visibility: hidden;
}

.back{
    background: linear-gradient(#08aeea, #2af598);
    z-index: 1;
    transform: rotateY(180deg);
}

.mid{
    background: darkblue;
}

.info:hover{
    transform: rotateY(180deg);
}

.info{
    background-color: coral;
    text-align: center;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}
